<% items.each do |item| %>
  <div class="col mb-5">
    <div class="card h-100">
      <!-- Product image-->
      <img class="card-img-top" alt: '...'
                            <%= image_tag item.image.variant(resize: "450x300") %>
                            <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= link_to item.name, item, class: "link" %>
          </h5>
          <!-- Product price-->
          ¥ <%= item.price %>
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><%= link_to 'Add to Cart', "/cart/#{item.id}/", data: { "turbo-method": :post }, class: "btn btn-outline-dark mt-auto gtm-click" %></div>
      </div>
    </div>
  </div>
<% end %>
